<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Custom Icon Here! -->
    <link rel="icon" href="{{ url_for('static', filename='assets/icon/ukothdev_Colored.png') }}"/>
    
    <!-- DaisyUI CDN Here! -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script defer src="https://cdn.tailwindcss.com"></script>
    
    <title>UkothDev - {% block title %}{% endblock %}</title>
    
    <!-- Custom Style Here! -->
    {% block styles %}{% endblock %}
</head>

<!-- Body Here! -->
<body>

    <!-- Body Content Here -->
    {% block content %}{% endblock %}
    
    <!-- Custom Script Here! -->
    {% block script %}{% endblock %}

    <!-- daisyUI script Here! -->
</body>

<!-- Footer Here! -->
<footer>
    {% block footer %}{% endblock %}
</footer>
</html>