{% extends 'base.html'%}

{% block title %}Coming Soon!{% endblock %}

{% block content %}
    <div class="container color">
        <h1>Coming Soon!</h1>
        <p>Our website is currently on development, be the first to know by subscribing to our newsletter</p>
        <form action="/subscribe" method="post">
            <div class="name-field">
                <input type="text" name="firstname" id="firstname" placeholder="First name">
                <input type="text" name="lastname" id="lastname" placeholder="Last name">
            </div>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
        </form>
    </div>
{% endblock %}