{% extends 'base.html'%}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1>Coming Soon!</h1>
        <p>Our website is currently on development, be the first to know by subscribing to our newsletter</p>
        <form>
            <input type="email" name="email" placeholder="Enter your email">
            <button type="submit">Subscribe</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <p>&copy; 2020 UkothDev</p>
{% endblock %}